<%- include('../partials/header.ejs') %>
  <div id="app">

    <%- include('../partials/sidebar.ejs') %>
      <%- include('../partials/navbar.ejs') %>

        <div id="main">
          <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
              <i class="bi bi-justify fs-3"></i>
            </a>
          </header>
          <div class="page-heading">
            <h3>Halaman RPS</h3>
          </div>
          <!-- ----------------- -->
          <!-- EDIT DI BAWAH INI -->
          <!-- ----------------- -->

            <section class="section">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped" id="table1">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Kode Mata Kuliah</th>
                        <th>Mata Kuliah</th>
                        <th>SKS</th>
                        <th>Semester</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% matkul.forEach(function(matkul, index) { %>
                        <tr>
                          <td>
                            <%= index+=1 %>
                          </td>
                          <td>
                            <%= matkul.code %>
                          </td>
                          <td>
                            <%= matkul.name %>
                          </td>
                          <td>
                            <%= matkul.credit %>
                          </td>
                          <!-- <td><%= matkul.rev %></td> -->
                          <td>
                            <%= matkul.semester %>
                          </td>


                          <td>
                            <a href="/admin/menentukandosen/<%= matkul.id %>">
                              <i class="bi bi-plus"></i>
                            </a>
                            <!-- <a href="/dosen/revisirps/<%= matkul.id %>">
                              <i class="bi bi-bandaid"></i>
                            </a>
                            <a href="/dosen/ubahrps/<%= matkul.id %>">
                              <i class="bi bi-pencil"></i>
                            </a> -->
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
            <a href="/admin/tambahmatkul" class="btn btn-outline-primary block">
              Tambah RPS
            </a>



            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %>
          </div>
        </div>
        <%- include('../partials/js.ejs') %>
          </body>

          </html>