<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 
        <%- include('../partials/navbar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>Tambah Dosen</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-10 order-md-1 order-last">
                            <h3>Daftar Dosen - <%= matkul.name %> </h3>
                            <p class="text-subtitle text-muted"> </p>
                        </div>
                        <!-- <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                                </ol>
                            </nav>
                        </div> -->
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <!-- <div class="card-header">
                            Simple Datatable
                        </div> -->
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>NIP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% dosenMatkul.forEach(function(dsn, index) { %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td><%= dsn.name %></td>
                                        <td><%= dsn.reg_id %></td>

                                    </tr>
                                    <% }) %>                            
                                </tbody>
                            </table>
                            <!-- Button trigger for tambah dosen form modal -->
                            <button type="button" class="btn btn-secondary rounded-pill" data-bs-toggle="modal"
                                data-bs-target="#inlineForm">
                                + Tambah Dosen
                            </button>
                            <!--tambah dosen form Modal -->
                            <div class="modal fade text-left" id="inlineForm" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable"
                                    role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel33">Tambah Dosen </h4>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <form action="/admin/tambahdosen" method="post">
                                            <div class="modal-body">
                                                <label>Nama </label>
                                                <div class="form-group">
                                                    <input type="hidden" name="id_rps" value="<%= rps.id %>">
                                                    <select class="form-select" name="id_dosen">
                                                        <% dosen.forEach(dsn => { %>                                                     
                                                            <option value="<%= dsn.id %>"><%= dsn.name %> </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Batal</span>
                                                </button>
                                                <button type="submit" class="btn btn-primary ml-1">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Tambah</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                    </div>                                    
                </section>
            </div>

            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>