<%- include('../partials/header.ejs') %>
<div id="app">

  <%- include('../partials/sidebar.ejs') %>
  <%- include('../partials/navbar.ejs') %>

  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <div class="page-heading">
      <h3>Mata Kuliah</h3>
    </div>
    <!-- ----------------- -->
    <!-- EDIT DI BAWAH INI -->
    <!-- ----------------- -->
    <section id="horizontal-input">
      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="col-12 d-flex justify-content-end p-5 pb-0">
              <a href="/admin/cetaklaporan" class="btn btn-info">Cetak Laporan</a>
            </div>
            <div class="card-header">
              <h4 class="card-title">Peta CPMK ke CPL</h4>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table mb-0 table-lg">
                  <thead>
                    <tr>
                      <!-- <th>Kode CPL</th>
                                          <th>CPL</th> -->
                      <th>Kode CPMK</th>
                      <th>CPMK</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% cpmk.forEach(function(cp, index) { %>
                    <tr>
                      <td class="text-bold-500"><%= cp.code %></td>
                      <td class="text-bold-500"><%= cp.name %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Lihat Revisi RPS</h4>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table mb-0 table-lg">
                  <thead>
                    <tr>
                      <th>Kode Matkul</th>
                      <th>Nama Matkul</th>
                      <th>SKS</th>
                      <th>Jumlah Revisi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% rps.forEach(function(rpss, index) { %>
                    <tr>
                      <td class="text-bold-500"><%= rpss.code %></td>
                      <td><%= rpss.name %></td>
                      <td><%= rpss.credit %></td>
                      <td><%= rpss.rev %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Visualisasi Data ; Persentase RPS</h4>
            </div>

            <div class="card-body">
              <!-- <p class="text-subtitle text-muted">Give textual form controls like input upgrade with custom styles,
                          sizing, focus states, and more.</p> -->

              <div id="piechart"></div>


              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

              <script type="text/javascript">
                // Load google charts
                google.charts.load('current', {
                  'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(drawChart);

                let projectbes = '<%-projectBase%>'
                let kesbes = '<%-caseBase%>'

                // Draw the chart and set the chart values
                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Project Based', parseInt(projectbes)],
                    ['Case Based', parseInt(kesbes)],

                  ]);

                  // Optional; add a title and set the width and height of the chart
                  var options = {
                    'title': 'Data Persentase methode Project based dan Case based',
                    'width': 550,
                    'height': 400,
                    'pieHole': 0.4,
                    'colors': ['purple', 'orange'],
                  };


                  // Display the chart inside the <div> element with id="piechart"
                  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                  chart.draw(data, options);
                }
              </script>

            </div>
          </div>

        </div>
      </div>
    </section>


    <!-- ---------- -->
    <!-- BATAS EDIT -->
    <!-- ---------- -->
    <%- include('../partials/footer.ejs') %>
  </div>
</div>
<%- include('../partials/js.ejs') %>
</body>

</html>