<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">CPMK</h6>
                </div>
                <div class="col-md-3 ps-3">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#inlineFormCpmk">
                        Tambah
                    </button>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Kode</th>
                                            <th>CPMK</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cpmk.forEach(function(cp, index) { %>
                                            <tr>
                                                <td>
                                                    <%= cp.code %>
                                                </td>
                                                <td>
                                                    <%= cp.name %>
                                                </td>
                                                <%= cp.kodecpl %>
                                                    <td>

                                                        <!-- Update-->
                                                        <button class="btn"><i class="fas fa-edit"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#EditCPMK<%= index+1 %>"></i>
                                                        </button>
                                                        <div class="modal fade text-left" id="EditCPMK<%= index+1 %>"
                                                            tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                                role="document">
                                                                <div class="modal-content">
                                                                    <form action="/dosen/ubahcpmk" method="post">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel33">
                                                                                Edit Pertemuan Mingguan</h4>
                                                                            <button type="button" class="close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close">
                                                                                <i data-feather="x"></i>
                                                                            </button>
                                                                        </div>
                                                                        <form action="/dosen/ubahcpmk" method="post">
                                                                            <div class="modal-body">
                                                                                <input type="hidden" name="id"
                                                                                    value="<%= cp.id %>" />
                                                                                <label>Kode CPMK </label>
                                                                                <div class="form-group">
                                                                                    <input type="number"
                                                                                        placeholder="Masukkan kode cpmk"
                                                                                        name="code"
                                                                                        value="<%= cp.code %>" disabled
                                                                                        class="form-control">
                                                                                </div>
                                                                                <label>CPMK </label>
                                                                                <div class="form-group">
                                                                                    <input type="text"
                                                                                        placeholder="Masukkan cpmk"
                                                                                        name="name"
                                                                                        value="<%= cp.name %>"
                                                                                        class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn btn-light-secondary"
                                                                                    data-bs-dismiss="modal">
                                                                                    <i
                                                                                        class="bx bx-x d-block d-sm-none"></i>
                                                                                    <span
                                                                                        class="d-none d-sm-block">Close</span>
                                                                                </button>
                                                                                <button type="submit"
                                                                                    class="btn btn-primary ml-1">
                                                                                    <i
                                                                                        class="bx bx-check d-block d-sm-none"></i>
                                                                                    <span
                                                                                        class="d-none d-sm-block">Edit</span>
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Destroy -->
                                                        <button class="btn"><i class="fas fa-trash"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#hapusCPMK<%= index+1 %>"></i>
                                                        </button>
                                                        <div class="modal fade text-left" id="hapusCPMK<%= index+1 %>"
                                                            tabindex="-1" role="dialog"
                                                            aria-labelledby="myModalLabel120" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                                role="document">
                                                                <div class="modal-content">
                                                                    <form action="/dosen/hapuscpmk-<%= cp.id %>"
                                                                        method="get">
                                                                        <div class="modal-header bg-danger">
                                                                            <h5 class="modal-title white"
                                                                                id="myModalLabel120">Peringatan</h5>
                                                                            <button type="button" class="close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close">
                                                                                <i data-feather="x"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">Yakin Ingin menghapus?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-light-secondary"
                                                                                data-bs-dismiss="modal">
                                                                                <i
                                                                                    class="bx bx-x d-block d-sm-none"></i>
                                                                                <span
                                                                                    class="d-none d-sm-block">Batal</span>
                                                                            </button>
                                                                            <button type="submit"
                                                                                class="btn btn-danger ml-1">
                                                                                <i
                                                                                    class="bx bx-check d-block d-sm-none"></i>
                                                                                <span
                                                                                    class="d-none d-sm-block">Hapus</span>
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <br />

                                <!-- Store -->
                                <span>
                                    <div class="modal fade text-left" id="inlineFormCpmk" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel33" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel33">Tambah CPMK </h4>
                                                    <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                                <form action="/dosen/tambahcpmk" method="post">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="course_plan_id"
                                                            value="<%= rps.id %>" />
                                                        <label>Kode CPMK </label>
                                                        <div class="form-group">
                                                            <input type="number" placeholder="Masukkan kode cpmk"
                                                                name="code" max="20" min="1" class="form-control">
                                                        </div>
                                                        <label>CPMK </label>
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Masukkan cpmk" name="name"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light-secondary"
                                                            data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Tutup</span>
                                                        </button>
                                                        <button type="submit" class="btn btn-primary ml-1">
                                                            <i class="bx bx-check d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Tambah</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>