<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Referensi</h6>
                </div>
                <div class="col-md-3 ps-3">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#inlineFormReferensi">Tambah</button>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Judul</th>
                                            <th>Penulis</th>
                                            <th>Kategori</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% referensi.forEach(function(ref, index) { %>
                                            <tr>
                                                <td class="text-bold-500">
                                                    <%= index+1 %>
                                                </td>
                                                <td>
                                                    <%= ref.title %>
                                                </td>
                                                <td>
                                                    <%= ref.author %>
                                                </td>
                                                <td>
                                                    <% if (ref.description=="Utama" ) { %>
                                                        <span class="badge bg-primary">Utama</span>
                                                        <% } else if (ref.description=="Pendukung" ){%>
                                                            <span class="badge bg-secondary">Pendukung</span>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <button class="btn"><i class="fa-solid fa-rectangle-list"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#detailreferensi<%= index+1 %>"></i></button>

                                                    <!--detail form Modal -->
                                                    <div class="modal fade text-left" id="detailreferensi<%= index+1 %>"
                                                        tabindex="-1" role="dialog"
                                                        aria-labelledby="myModalLabel<%= index+1 %>" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                            role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel33">Detail
                                                                        Referensi</h4>
                                                                    <button type="button" class="close"
                                                                        data-bs-dismiss="modal" aria-label="Close">
                                                                        <i data-feather="x"></i>
                                                                    </button>
                                                                </div>
                                                                <form action="#">
                                                                    <div class="modal-body">
                                                                        <label>Judul</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput" readonly="readonly"
                                                                                value="<%= ref.title %>" />
                                                                        </div>
                                                                        <label>Penulis</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput" readonly="readonly"
                                                                                value="<%= ref.author %>" />
                                                                        </div>
                                                                        <label>Penerbit</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput" readonly="readonly"
                                                                                value="<%= ref.publisher %>" />
                                                                        </div>
                                                                        <label>Tahun</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput" readonly="readonly"
                                                                                value="<%= ref.year %>" />
                                                                        </div>
                                                                        <label>Deskripsi</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput" readonly="readonly"
                                                                                value="<%= ref.description %>" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                            class="btn btn-light-secondary"
                                                                            data-bs-dismiss="modal">
                                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Close</span>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button class="btn"><i class="fas fa-edit" data-bs-toggle="modal"
                                                            data-bs-target="#editreferensi<%= index+1 %>"></i></button>

                                                    <!--edit form Modal -->
                                                    <div class="modal fade text-left" id="editreferensi<%= index+1 %>"
                                                        tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                            role="document">
                                                            <div class="modal-content">
                                                                <form action="/dosen/ubahreferensi" method="post">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" id="myModalLabel33">Edit
                                                                            Referensi</h4>
                                                                        <button type="button" class="close"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                            <i data-feather="x"></i>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body">
                                                                        <input type="hidden" name="id"
                                                                            value="<%= ref.id %>" />
                                                                        <label>Judul</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput"
                                                                                value="<%= ref.title %>" name="title"
                                                                                required />
                                                                        </div>
                                                                        <label>Penulis</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput"
                                                                                value="<%= ref.author %>" name="author"
                                                                                required />
                                                                        </div>
                                                                        <label>Penerbit</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput"
                                                                                value="<%= ref.publisher %>"
                                                                                name="publisher" required />
                                                                        </div>
                                                                        <label>Tahun</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                id="readonlyInput"
                                                                                value="<%= ref.year %>" name="year"
                                                                                required />
                                                                        </div>
                                                                        <label>Kategori</label>
                                                                        <div class="form-group">
                                                                            <select class="form-select" id="basicSelect"
                                                                                name="description">
                                                                                <option value="Utama">Utama</option>
                                                                                <option value="Pendukung">Pendukung
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                            class="btn btn-light-secondary"
                                                                            data-bs-dismiss="modal">
                                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Close</span>
                                                                        </button>
                                                                        <button type="submit"
                                                                            class="btn btn-primary ml-1">
                                                                            <i
                                                                                class="bx bx-check d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Edit</span>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button class="btn"><i class="fas fa-trash" data-bs-toggle="modal"
                                                            data-bs-target="#hapusreferensi<%= index+1 %>"></i></button>

                                                    <!--Danger theme Modal -->
                                                    <div class="modal fade text-left" id="hapusreferensi<%= index+1 %>"
                                                        tabindex="-1" role="dialog" aria-labelledby="myModalLabel120"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                            role="document">
                                                            <div class="modal-content">
                                                                <form action="/dosen/hapusreferensi-<%= ref.id %>"
                                                                    method="get">
                                                                    <div class="modal-header bg-danger">
                                                                        <h5 class="modal-title white"
                                                                            id="myModalLabel120">Peringatan
                                                                        </h5>
                                                                        <button type="button" class="close"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                            <i data-feather="x"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">Yakin Ingin menghapus?</div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                            class="btn btn-light-secondary" D
                                                                            data-bs-dismiss="modal">
                                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Batal</span>
                                                                        </button>
                                                                        <button type="submit"
                                                                            class="btn btn-danger ml-1">
                                                                            <i
                                                                                class="bx bx-check d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Hapus</span>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <br />

                                <span>

                                    <div class="modal fade text-left" id="inlineFormReferensi" tabindex="-1"
                                        role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                            role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel33">Tambah Referensi</h4>
                                                    <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                                <form action="/dosen/tambahreferensi" method="post">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="course_plan_id"
                                                            value="<%= rps.id %>" />
                                                        <label>Judul</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="readonlyInput"
                                                                name="title" required />
                                                        </div>
                                                        <label>Penulis</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="readonlyInput"
                                                                name="author" required />
                                                        </div>
                                                        <label>Penerbit</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="readonlyInput"
                                                                name="publisher" required />
                                                        </div>
                                                        <label>Tahun</label>
                                                        <div class="form-group">
                                                            <input type="number" class="form-control" id="readonlyInput"
                                                                name="year" required />
                                                        </div>
                                                        <label>Kategori</label>
                                                        <div class="form-group">
                                                            <select class="form-select" id="basicSelect"
                                                                name="description">
                                                                <option value="Utama">Utama</option>
                                                                <option value="Pendukung">Pendukung</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light-secondary"
                                                            data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Tutup</span>
                                                        </button>
                                                        <button type="submit" class="btn btn-primary ml-1">
                                                            <i class="bx bx-check d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Tambah</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>