<%- include('../partials/header.ejs') %>
  <div id="app">

    <%- include('../partials/sidebar.ejs') %>
      <%- include('../partials/navbar.ejs') %>

        <div id="main">
          <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
              <i class="bi bi-justify fs-3"></i>
            </a>
          </header>
          <div class="page-heading">
            <h3>RPS</h3>
          </div>
          <!-- ----------------- -->
          <!-- EDIT DI BAWAH INI -->
          <!-- ----------------- -->
          <section id="basic-horizontal-layouts">
            <div class="row match-height">
              <div class="col-md-12 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <form class="form form-horizontal">
                        <div class="form-body">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Nama Mata Kuliah</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <label>
                                <%= rps.name %>
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label>Kode Mata Kuliah</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <label>
                                <%= rps.code %>
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label>SKS</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <label>
                                <%= rps.credit %>
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label>Semester</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <label>
                                <%= rps.semester %>
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label>Deskripsi</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <label>
                                <%= rps.description %>
                              </label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <section class="section">
                <%- include('./modals/pertemuan.ejs') %> 
            </section>

            <!-- Reference -->
            <section id="basic-vertical-layouts">
              <%- include('./modals/referensi.ejs') %> 
            </section>

            <!-- CPMK -->
            <section id="basic-horizontal-layouts">
              <%- include('./modals/cpmk.ejs') %> 
            </section>

            <section id="basic-vertical-layouts">
              <%- include('./modals/penilaian.ejs') %> 
            </section>

          </section>


          <!-- ---------- -->
          <!-- BATAS EDIT -->
          <!-- ---------- -->
          <%- include('../partials/footer.ejs') %>
        </div>
  </div>
  <!-- ===== -->


  <%- include('../partials/js.ejs') %>
    </body>

    </html>