<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 
        <%- include('../partials/navbar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>INFO PERTEMUAN</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                  <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-horizontal">
                            <div class="form-body">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Nama Mata Kuliah</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>x</label>
                                </div>
                                <div class="col-md-4">
                                  <label>Kode Mata Kuliah</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>x</label>
                                </div>
                                <div class="col-md-4">
                                  <label>SKS</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>x</label>
                                </div>
                                <div class="col-md-4">
                                  <label>Semester</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>x</label>
                                </div>
                                <div class="col-md-4">
                                  <label>Materi</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>x</label>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="dosen-pertemuan.html" class="btn btn-success">Kembali</a>
              </section>


            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>