<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 
        <%- include('../partials/navbar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>CPMK</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                  <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-horizontal">
                            <div class="form-body">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Nama Dosen</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>Dila Si Paling Macet</label>
                                </div>
                                <div class="col-md-4">
                                  <label>No HP</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>Ga punya, HP nyebur ke laut</label>
                                </div>
                                <div class="col-md-4">
                                  <label>Status</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>Ditinggal nikah bg don</label>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
      
              <div class="page-heading">
                <div class="page-title">
                  <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last"></div>
                    <div class="col-12 col-md-6 order-md-2 order-first"></div>
                  </div>
                </div>
      
                <section class="section">
                  <div class="row" id="basic-table">
                    <div class="col-12 col-md-12">
                      <div class="card">
                        <div class="card-header"></div>
                        <div class="card-content">
                          <div class="card-body">
                            <!-- Table with outer spacing -->
                            <div class="table-responsive">
                              <table class="table table-lg">
                                <thead>
                                  <tr>
                                    <th>No</th>
                                    <th>Kode Mata Kuliah</th>
                                    <th>Nama Mata Kuliah</th>
                                    <th>Aksi</th>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>JSI001</td>
                                    <td>Data Mining</td>
                                    <td>
                                      <a href="dosen-info-cpmk.html" class="bi bi-info"></a>
                                      <a class="bi bi-archive"></a>
                                      <a href="dosen-edit-cpmk.html" class="bi bi-pencil"></a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>JSI002</td>
                                    <td>Pemograman Web</td>
                                    <td>
                                      <a href="dosen-info-cpmk.html" class="bi bi-info"></a>
                                      <a class="bi bi-archive"></a>
                                      <a href="dosen-edit-cpmk.html" class="bi bi-pencil"></a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>JSI003</td>
                                    <td>PBD</td>
                                    <td>
                                      <a href="dosen-info-cpmk.html" class="bi bi-info"></a>
                                      <a class="bi bi-archive"></a>
                                      <a href="dosen-edit-cpmk.html" class="bi bi-pencil"></a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>JSI004</td>
                                    <td>AVD</td>
                                    <td>
                                      <a href="dosen-info-cpmk.html" class="bi bi-info"></a>
                                      <a class="bi bi-archive"></a>
                                      <a href="dosen-edit-cpmk.html" class="bi bi-pencil"></a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>JSI005</td>
                                    <td>Pengantar Keamanan Informasi</td>
                                    <td>
                                      <a href="dosen-info-cpmk.html" class="bi bi-info"></a>
                                      <a class="bi bi-archive"></a>
                                      <a href="dosen-edit-cpmk.html" class="bi bi-pencil"></a>
                                    </td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <a href="dosen-tambah-cpmk.html" class="btn btn-success">Tambah CPMK</a>
              


            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>