<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 
        <%- include('../partials/navbar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>Pertemuan</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->

            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                  <div class="col-md-12 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-horizontal">
                            <div class="form-body">
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Nama Dosen</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>Dila Si Paling Macet</label>
                                </div>
                                <div class="col-md-4">
                                  <label>No HP</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>Ga punya, HP nyebur ke laut</label>
                                </div>
                                <div class="col-md-4">
                                  <label>Status</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <label>Ditinggal nikah bg don</label>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
      
              <div class="page-heading">
                <div class="page-title">
                  <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last"></div>
                    <div class="col-12 col-md-6 order-md-2 order-first"></div>
                  </div>
                </div>
      
                <section class="section">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-striped" id="table1">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Pertemuan</th>
                            <th>Topik Pertemuan</th>
                            <th>Metode Pembelajaran</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Pertemuan 1</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Pertemuan 2</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Pertemuan 3</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Pertemuan 4</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>Pertemuan 5</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>Pertemuan 6</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>Pertemuan 7</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>Pertemuan 8</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>Pertemuan 9</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>Pertemuan 10</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>11</td>
                            <td>Pertemuan 11</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                          <tr>
                            <td>11</td>
                            <td>Pertemuan 11</td>
                            <td>Naive Bayes Classifier</td>
                            <td>Project Based Learning</td>
                            <td>
                              <a href="dosen-info-pertemuan.html" class="bi bi-info"></a>
                              <a class="bi bi-archive"></a>
                              <a href="dosen-edit-pertemuan.html" class="bi bi-pencil"></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
                <a href="dosen-tambah-pertemuan.html" class="btn btn-success">Tambah Pertemuan</a>

            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>