<%- include('../partials/header.ejs') %>
  <div id="app">

    <%- include('../partials/sidebar.ejs') %>

      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>
        <div class="page-heading">
          <h3>Halaman RPS</h3>
        </div>
        <!-- ----------------- -->
        <!-- EDIT DI BAWAH INI -->
        <!-- ----------------- -->
        <section id="basic-horizontal-layouts">
          <div class="row match-height">
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form class="form form-horizontal">
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Nama Dosen</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <label>Dila Si Paling Macet</label>
                          </div>
                          <div class="col-md-4">
                            <label>No HP</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <label>Ga punya, HP nyebur ke laut</label>
                          </div>
                          <div class="col-md-4">
                            <label>Status</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <label>Ditinggal nikah bg don</label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="page-heading">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1 order-last"></div>
              <div class="col-12 col-md-6 order-md-2 order-first"></div>
            </div>
          </div>

          <section class="section">
            <div class="card">
              <div class="card-body">
                <table class="table table-striped" id="table1">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Kode Mata Kuliah</th>
                      <th>Mata Kuliah</th>
                      <th>SKS</th>
                      <th>Semester</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>JSI001</td>
                      <td>Data Mining</td>
                      <td>3</td>
                      <td>4</td>
                      <td>

                        <a href="/dosen/dosen-rps">
                          <i class="bi bi-info"></i>
                        </a>
                        <i class="bi bi-archive"></i>

                        <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                          data-bs-target="#border-less">
                          <i class="bi bi-pencil"></i>
                        </button>

                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>JSI002</td>
                      <td>PBD</td>
                      <td>3</td>
                      <td>4</td>
                      <td>
                        <a href="/dosen/dosen-rps">
                          <i class="bi bi-info"></i>
                        </a>
                        <i class="bi bi-archive"></i>

                        <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                          data-bs-target="#border-less">
                          <i class="bi bi-pencil"></i>
                        </button>

                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>JSI003</td>
                      <td>Pemrograman Website</td>
                      <td>3</td>
                      <td>4</td>
                      <td>

                        <a href="/dosen/dosen-rps">
                          <i class="bi bi-info"></i>
                        </a>
                        <i class="bi bi-archive"></i>

                        <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                          data-bs-target="#border-less">
                          <i class="bi bi-pencil"></i>
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal" data-bs-target="#default">
            Tambah RPS
          </button>



          <!-- ---------- -->
          <!-- BATAS EDIT -->
          <!-- ---------- -->
          <%- include('../partials/footer.ejs') %>
        </div>
      </div>
      <%- include('./rps/modal-add-rps.ejs') %>
        <%- include('./rps/modal-edit-rps.ejs') %>
          <%- include('../partials/js.ejs') %>
            </body>

            </html>