<%- include('../partials/header.ejs') %> 
    <div id="app">

        <%- include('../partials/sidebar.ejs') %> 
        <%- include('../partials/navbar.ejs') %> 

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>RPS</h3>
            </div>
            <!-- ----------------- -->
            <!-- EDIT DI BAWAH INI -->
            <!-- ----------------- -->

      
              <div class="page-heading">
                <div class="page-title">
                  <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last"></div>
                    <div class="col-12 col-md-6 order-md-2 order-first"></div>
                  </div>
                </div>
      
                <section class="section">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-striped" id="table1">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Kode Mata Kuliah</th>
                            <th>Mata Kuliah</th>
                            <th>SKS</th>
                            <th>Semester</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% rpsmhs.forEach(function(matkul, index) { %>
                          <tr>
                            <td><%= index+1 %></td>
                            <td><%= matkul.code %></td>
                            <td><%= matkul.name %></td>
                            <td><%= matkul.credit %></td>
                            <td><%= matkul.semester %></td>
                            <td>
                              <a href="/mahasiswa/detailrps/<%= matkul.id %> " class="bi bi-info"></a>
                            </td>
                            <td>
                              <a href="/mahasiswa/print/<%= matkul.id %> " class="bi bi-printer"></a>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
                


            <!-- ---------- -->
            <!-- BATAS EDIT -->
            <!-- ---------- -->
            <%- include('../partials/footer.ejs') %> 
        </div>
    </div>
<%- include('../partials/js.ejs') %> 
</body>

</html>